<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Your Website</title>
    <!-- Bootstrap CSS Link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
   <!-- Header Section -->
    <header class="bg-light">
        <nav class="navbar navbar-expand-lg navbar-light bg-secondary bg-gradient">
            <a class="navbar-brand" href="/">
                <img src="/images/your-logo.png" alt="Logo" width="100">
            </a>
            <!-- Add header content here if needed -->
            <div >[[${session.loginUser.getUName}]]님 반갑습니다.</div>
            <!-- Login/Logout Button -->
            <div class="ml-auto">
                <form action="/logout" method="post">
					<button type="submit" class="btn btn-primary">로그아웃</button>
				</form>
            </div>
        </nav>
    </header>
</body>
</html>