<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Your Website</title>
<!-- Bootstrap CSS Link -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<!-- Menu Section -->
	<div class="col-md-2 bg-secondary bg-gradient">
		<!-- Menu content -->
		<ul class="nav flex-column text-white">
			<div class="list-group">
				<a href="#"
					class="list-group-item list-group-item-action list-group-item-secondary mb-4 rounded">
					내 결재 관리</a> 
					<a href="/document"
					class="list-group-item list-group-item-action list-group-item-secondary mb-4 rounded">
					기안서 작성</a> 
					<a href="/management/all"
					class="list-group-item list-group-item-action list-group-item-secondary mb-4 rounded">
					통합 결재 관리</a>
			</div>
			<!-- Add more menu items as needed -->
		</ul>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
