  #header {
    /* 기안서 작성 */
	margin-top: 15px;
    font-size: 20px;
    color: #4F7578;
    font-weight: 700;
	


  }
  
  .table-container {
    /* Rectangle 38 */
	
	
	left: 366px;
	top: 256px;
	
	/*background: #DCDED4;*/

  }
  

  td {
	  margin-top: 10px;
  }
  
  .order-number {
	 margin-left: 40px;
    margin-top: 30px;
    /* position: absolute; */
    width: 600px;
    /* height: 21px; */
    /* left: 140px; */
    /* top: 50px; */
    display: flex;
    font-family: 'Fascinate';
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 27px;
    color: #4F7578;
    justify-content: space-between;
}
  
  .order-number-one {
    margin-top: 15px;
    /* position: absolute; */
    width: 700px;
    height: 43px;
    /* left: 90px; */
    /* top: 130px; */
    background: #FFFFFF;
    display: flex;
    justify-content: space-around;
    font-family: 'Familjen Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    color: #4F7578;
    
  }
  
  .order-number-two {
	margin-top: 15px;
    /* position: absolute; */
    width: 700px;
    height: 43px;
    /* left: 90px; */
    /* top: 130px; */
    background: #FFFFFF;
    display: flex;
    justify-content: space-around;
    font-family: 'Familjen Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    color: #4F7578;

}


  
  #print-button {
	
	margin-top: 400px;
    margin-left: 490px;
    margin-bottom: 10px;
  }
  
 
 #print-button button {
	margin: 3.5px;
    width: 200px;
    height: 50px;
    background-color: white;
    color: #4F7578;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-family: 'Fascinate';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 27px;
  }