@charset "UTF-8";

 #top {
	font-weight: 900;
    font-size: 20px;
    color: #4F7578;
    margin-top: 13px;
  }
  
/*  #meddle {
    width: 1033px;
    height: 703px;
    background: #DCDED4;
    display: flex;
    justify-content: space-around;
  
    margin-left: 3%;
    position: relative;
  }
 */
  #dateInputContainer {
    display: flex;
    align-items: center;
  }
  
  #dateInputContainer label {
    position: absolute;
    height: 21px;
    left: 50px;
    top: 90px;
    font-family: 'Familjen Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    color: #4F7578;
  }
  
  #dateInputContainer input{
	  position: absolute;
    width: 200px;
    height: 27px;
    left: 110px;
    top: 85px;
   
	  
  } 
  
  #requestTypeContainer label {
	  position: absolute;
    height: 21px;
    left: 50px;
    top: 150px;
    font-family: 'Familjen Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    color: #4F7578;
  }
  
  #requestTypeContainer select {
    position: absolute;
    width: 200px;
    height: 27px;
    left: 110px;
    top: 148px;
    background: #FFFFFF;
}
  
 
   #departmentContainer label {
    position: absolute;
    height: 21px;
    left: 43px;
    top: 210px;
    font-family: 'Familjen Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    color: #4F7578;
  }
  
   #departmentContainer select {
    width: 97px;
    height: 25px;
  }
  
  #departmentselect {
	display: flex;
    flex-direction: column;
    position: absolute;
    width: 200px;
    height: 27px;
    left: 110px;
    top: 205px;
  }


  #right {
  /* width: 570px; */
    /* height: 654px; */
    margin-left: 336px;
    /* left: 430px; */
    /* top: 26px; */
    /* background: #FFFFFF; */
    border: 1px solid black;
  }

  
  
  #rest {
		position: absolute;
    width: 125px;
    height: 24px;
    left: 750px;
    top: 64px;
    font-family: 'Familjen Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 31px;
    color: #000000;
  }
  
  table {
      border-collapse: collapse;
      width: 100%;
      margin-top: 75px;
    }

    th, td {
      padding: 8px;
      text-align: left;
    }

    th, td {
      border-top: 1px solid black; /* 상단 가로선 설정 */
      border-bottom: 1px solid black; /* 하단 가로선 설정 */
    }

    th:first-child, td:first-child {
      border-right: 1px solid black; /* 첫 번째 열의 오른쪽 세로선 설정 */
    }

    th:last-child, td:last-child {
      border-left: 1px solid black; /* 마지막 열의 왼쪽 세로선 설정 */
    }

    th:not(:first-child):not(:last-child),
    td:not(:first-child):not(:last-child) {
      border-left: none;
      border-right: none;
    }
    
    

  #low-lable {
	margin-top: 50px;
    margin-left: 30px;
    text-align: center;
  }
  
  #under {
	display: flex;
}
  
   .under-one {
	  /* 제출 */
	margin-left: 900px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
   #under button {
	  margin: 3.5px;
   width: 150px;
    height: 50px;
    background-color: white;
    color: #4F7578;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-family: 'Fascinate';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 27px;
  }
  .under-two {
	  /*  취소  */

    margin-top: 5px;
    margin-bottom: 5px;

  }