<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Your Website</title>
	<script src="/js/documentVacation.js"></script>
	<link rel="stylesheet" href="/css/documentVacation.css">
	<!-- Bootstrap CSS Link -->
	<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<!-- Include the header and menu from Thymeleaf fragments -->
	<div th:replace="layout/header.html :: header"></div>
	

	 <!-- Menu and Content Section -->
    <div class="container-fluid ">
        <div class="row">
            <!-- Menu Section -->
            <div th:replace="layout/menu.html :: div"></div>
            
            
           <!-- Content Section -->
            <div class="col-md-10 bg-light bg-gradient h-auto">
				<div>
				  <div id="top">
				    기안서 작성
				  </div>
				  
				<!-- 작성 form start. -->
				
				  <form th:action="@{/document/vacation}" method="POST" th:object="${vacation}">  
				    <div id="meddle">
					  <!-- 왼쪽. -->
				      <div>		 
						<!-- 일자선택  -->
				        <div id="dateInputContainer">
				          <label for="dateInput">일자 </label>
				          <input type="date" th:field="*{dDraftingDate}" id="dateInput" name="dateInput" readonly>
				        </div>
				        
				       <!-- 구분선택. -->
				        <div id="requestTypeContainer" class="form-field">
				          <label for="requestType">구분 </label>
				          <select id="requestType" name="requestType">
				            <option value="vacation">휴가신청서</option>
				          </select>
				        </div>
				        
				        <!-- 부서선택. -->
				        <div id="departmentContainer" class="form-field">
	                            <label for="department">결재자</label>
	                            <div id="departmentselect">
	                                <div id="department-one">
	                                    <select id="aprvPa1" name="aprvPa1" th:field="*{aprvPa1}">
	                                        <option value="2">영업팀</option>
						            		<option value="3">인사팀</option>
						            		<option value="1">개발팀</option>
	                                    </select>
	                                    <select id="aprvName1" name="aprvName1" th:field="*{aprvName1}">
											<option value="3">김주임</option>
											<option value="4">김팀장</option>
											<option value="5">김사장</option>
	                                    </select>
	                                </div>
	                                <div id="department-two">
	                                    <select id="aprvPa2" name="aprvPa2" th:field="*{aprvPa2}">
	                                        <option value="2">영업팀</option>
						            		<option value="3">인사팀</option>
						            		<option value="1">개발팀</option>
	                                    </select>
	                                    <select id="aprvName2" name="aprvName2" th:field="*{aprvName2}">
											<option value="4">김팀장</option>
											<option value="5">김사장</option>
	                                    </select>
	                                </div>
	                            </div>
	                        </div> 
				        
				                  
				      </div>
				      
				      <!-- 오른쪽. -->
				      <div id="right">
						<!-- 휴가신청서 작성. -->
				        <div id="rest">휴가신청서</div>
				           <table>
							    <tr>
							      <td><span class="info-label">부서</span></td>
							      <td><input class="info-input" th:field="*{pName}" type="text" name="department" disabled></td>
							    </tr>
							    <tr>
							      <td><span class="info-label">성명</span></td>
							      <td><input class="info-input" th:field="*{uName}" type="text" name="name" disabled></td>
							    </tr>
							    <tr>
							      <td><span class="info-label">직위</span></td>
							      <td><input class="info-input" type="text" th:field="*{uPosition}" name="position" disabled></td>
							    </tr>
							     <tr>
							      <td><span class="info-label">종류</span></td>
							      <td>
							        <label><input type="checkbox" name="category" th:field="*{vLeaveType}" value="연차"> 연차</label>
							        <label><input type="checkbox" name="category" th:field="*{vLeaveType}" value="월차"> 월차</label>
							        <label><input type="checkbox" name="category" th:field="*{vLeaveType}" value="보건"> 보건</label>
							        <label><input type="checkbox" name="category" th:field="*{vLeaveType}" value="특별"> 특별</label>
							        <label><input type="checkbox" name="category" th:field="*{vLeaveType}" value="공가"> 공가</label>
							      </td>
							    </tr>
							    <tr>
							      <td><span class="info-label">사유</span></td>
							      <td><input class="info-input" th:field="*{vReason}" type="text" name="reason"></td>
							    </tr>
							    <tr>
							      <td><span class="info-label">기간</span></td>
							      <td>
							        <input class="info-input" type="date" name="startDate" id="startDate" th:field="*{vStartDate}" > ~
							        <input class="info-input" type="date" name="endDate" id="endDate" th:field="*{vEndDate}" >
							        <span id="dateWarning"></span>
							      </td>
							    </tr>
							    <tr>
							      <td><span class="info-label">비상연락망</span></td>
							      <td><input class="info-input" type="text" name="emergencyContact" th:field="*{vEmployeeContact}" ></td>
							    </tr>
							  </table>
				          
				                             
				          <div id="low-lable">
				            <p>위와 같이 휴가를 신청하오니 승인하여 주시기 바랍니다.</p>
				            <p><span id="date"></span></p>
				             <p>성명
								<input type="text" name="applicantName">
							</p>
				            <p>승인
<!--								<input type="text" name="approval">
-->							</p>
				          </div>
				          
				      </div>  
				    </div>
				    
				    
				    <!-- 마무리단계. -->
				    <div id="under">
				      <div class="under-one">
				        <input type="submit" value="제출">
				      </div>
				      <div class="under-two">
				        <input type="button" value="취소">
				      </div>
				    </div>
				  </form> 
				</div>

				
            </div>
        </div>
    </div>

	<!-- Bootstrap JS and Popper.js Links (Required for Bootstrap) -->

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
