<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
<script src="/js/document.js"></script>
<link rel="stylesheet" href="/css/document.css">

</head>
<body>
  
  <div id="header">
    기안서 작성
  </div>

  <div class="table-container">
    <table>
      <tr class="order-number">
        <th>정렬순서</th>
        <th>양식명</th>
        <th>구분</th>
        <th>결제문서</th>
      </tr>
      <tr class="order-number-one">
        <td>01</td>
        <td><a href="http://localhost:8090/document/vacation">oo의 휴가 신청서</a></td>
        <td>휴가 신청서</td>
        <td>휴가 신청서</td>
      </tr>
      <tr class="order-number-two">
        <td>02</td>
        <td><a href="http://localhost:8090/document/travel">oo의 출장 신청서</a></td>
        <td>출장 신청서</td>
        <td>출장 신청서</td>
      </tr>
    </table>
  </div>

  <div id="print-button">

      <button onclick="printDocument()">인쇄</button>

  </div>
  

</body>
</html>
