<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body>
	
	<div>
		<div>
			기안서 작성
		</div>
	
	<!-- 검색 -->
	
		<div>
			<table>
				  <tr>
				    <th>정렬순서</th>
				    <th>양식명</th>
				    <th>구분</th>
				    <th>결제문서</th>
				  </tr>
				  <tr>
				    <td>01</td>
				    <td>oo의 휴가 신청서</td>
				    <td>휴가 신청서</td>
				    <td>휴가 신청서</td>
				  </tr>
				  <tr>
				    <td>02</td>
				    <td>oo의 출장 신청서</td>
				    <td>출장 신청서</td>
				    <td>출장 신청서</td>
				  </tr>
			</table>
		</div>
		
		<div>
			<button>인쇄</button>
		</div>
	</div>
</body>
</html>