<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Your Website</title>
<!-- Bootstrap CSS Link -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<!-- Include the header and menu from Thymeleaf fragments -->
	<div th:replace="layout/header.html :: header"></div>
	

	 <!-- Menu and Content Section -->
    <div class="container-fluid ">
        <div class="row">
            <!-- Menu Section -->
            <div th:replace="layout/menu.html :: div"></div>
            
            
           <!-- Content Section -->
            <div class="col-md-10 bg-light bg-gradient h-auto">
            </div>
        </div>
    </div>

	<!-- Bootstrap JS and Popper.js Links (Required for Bootstrap) -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
