<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/bootstrap.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<title>Insert title here</title>
</head>
<body>
	<div style="display: flex; justify-content: center;">
	<div class="card text-center">
		  <div class="card-header">
		    <br>
		  </div>
		  <div class="card-body">
			  <h5 class="card-title">
				  접근 권한이 없습니다.<br><br>
				  관리자에게 문의하세요.
				  
			  </h5>
		    <p class="card-text">
				
			</p>
		  </div>
		  <div class="card-footer text-body-secondary">
			  <br>
		  </div>	
	</div>
	</div>
</body>
</html>