<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Insert title here</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/managementAllList.css">
</head>
<body>
	<!-- Include the header and menu from Thymeleaf fragments -->
	<div th:replace="layout/header.html :: header"></div>
	

	<!-- Menu and Content Section -->
    <div class="container-fluid ">
        <div class="row">
            <!-- Menu Section -->
            <div th:replace="layout/menu.html :: div"></div>
            	
             <div class="col-md-10 bg-light bg-gradient h-auto">
				 <div id="top">
					 <div class="title">
						<span>기안서 통합 관리</span>
					</div>
					<div class="search-box">
						 <input type="text">
						 <button type="submit">검색</button>
					</div>
				 </div>
				 
				 <div id="select-status">
					 <a class="selected-btn" href="/management/all?page=1">전체</a>
					 <a href="/management/progress?page=1">진행중</a>
					 <a href="/management/refuse?page=1">반려</a>
					 <a href="/management/approval?page=1">결재</a>
				 </div>
				 
				 <div>
					 <table id="contents" style="border: 1px solid #444444;">
						 <tr>
							<th>기안일자</th>
							<th>구분</th>
							<th>기안자</th>
							<th>결재자</th>
							<th>결재순서</th>
							<th>진행상태</th>
							<th>보기</th>
						</tr>
						<tr th:each="management : ${managementList}">
							<td th:text="${management.dDraftingDate}"></td>
							<td th:text="${management.dCategory}"></td>
							<td th:text="${management.dDrafterName}"></td>
							<td th:text="${management.aApproverName}"></td>
							<td th:text="${management.aOrderNum}"></td>
							<td th:text="${management.aApproverState}"></td>								
							<td>
							    <a th:if="${management.dCategory == '휴가신청서'}" th:href="|/management/vacations/${management.dSeq}|">보기</a>
							    <a th:if="${management.dCategory == '출장보고서'}" th:href="|/management/travels/${management.dSeq}|">보기</a>
							</td>
						</tr>
					 </table>
				 </div>
				 <nav aria-label="Page navigation example">
					<ul class="pagination">
					    <li class="page-item">
							
					      <a class="page-link" aria-label="Previous">
					        <span aria-hidden="true">&laquo;</span>
					      </a>
					    </li>
					    <li class="page-item"  th:each="num : ${#numbers.sequence(1, totalPageCount)}">
							<a class="page-link" th:href="@{/management/all?(page=${num})}" th:text="${num}"></a>
					    </li>
					    <li class="page-item">
					      <a class="page-link" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					  </ul>
				</nav>
            </div>
        </div>
    </div>

	<!-- Bootstrap JS and Popper.js Links (Required for Bootstrap) -->
	<script src="/js/managementAllList.js"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>