<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body>

				<td th:text="${mylist.dCategory}"></td>
				<td th:text="${mylist.dSeq}"></td>
				<td th:text="${mylist.dDrafterId}"></td>
				<td th:text="${mylist.dDraftingDate}"></td>
				<td th:text="${mylist.dStatus}"></td>
<!--<td><a th:href="@{/testdoc/{dSeq}(dSeq=${list.dSeq})}">문서확인</td>-->

     <div th:if="${check == 1}">
	     <form th:action="@{/dicision}" method="post" th:object="${dataObject}">
        <input type="hidden" name="dSeq" th:value="${mylist.dSeq}" />
        <input type="hidden" name="state" th:value="결재" />
        <button type="submit">결재</button>
    </form>
    </div>
    <div th:if="${check == 1}">
     <form th:action="@{/decision}" method="post">
         <input type="hidden" name="dSeq" th:value="${mylist.dSeq}" />
        <input type="hidden" name="state" th:value="반려" />
        <button type="submit">반려</button>
    </form>
    </div>
    <div th:if="${check == 2}">
		<!-- <form th:action="@{/decision}" method="post">
		<input type="hidden" name="dSeq" th:value="${mylist.dSeq}" />
	     <input type="hidden" name="state" th:value="결재취소" />--> 
        <button th:text="결재취소">결재취소</button>
		<!--</form>-->
    </div>
				
				
				
</body>
</html>